@import 'src/theme/_mainFontImport.scss';
@import 'src/theme/_ionItemInput.scss';
@import 'src/theme/_backButton.scss';


ion-select {
  padding-left: 15px;
  padding-bottom: 15px;
  color: #000;
}

.textarea {
  color: #000;
  height: 80px;
  margin: 15px 0;
  
  ion-textarea {
    padding: 5px;
    padding-left: 15px;
  }
}

div.botoes {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.form {
  margin: 35px 10px 0px;

  ion-button {
    margin-top: 5px;
    color: #fff;
  }
}