@import 'src/theme/_mainFontImport.scss';
@import 'src/theme/_backButton.scss';
@import 'src/theme/_codeFont.scss';
@import 'src/theme/_userPoints.scss';


.enunciated {
  width: 90vw;
  margin: 7% auto;
  text-align: justify;
  font-size: 1rem;
}



.alternative {
  margin: 15px;
  border-radius: 5px;
  font-size: 0.7rem;

  ion-label {
    white-space: normal;
    text-align: justify;
    width: 100%;
  }

  ion-radio {
    margin-right:7px;
    height: 1rem;
    width: 1rem;
  }

}

