<ion-header>
  <ion-toolbar mode='ios' color="primary">

    <div class="backButton" (click)="goToBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>

    <ion-title>PHP - 003</ion-title>

    <div slot="end" class="userPoints">
      <img src="../../../assets/icons/diamond-outline.svg">
      (points)
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <section>

    <div class="code">
      <ion-text>
        
        <span class="phpOpenAndClose">{{beginCode}}</span>
        
        <ion-item lines="none" color="medium" class="codeLines" *ngFor="let code of codeContent">
      
          <span class="codeContent">{{code.line}}</span>

        </ion-item>
      
        <span class="phpOpenAndClose">{{endCode}}</span>
      
      </ion-text>
    </div>

    <div class="enunciated">
      <ion-text>
        {{enunciated}}
      </ion-text>
    </div>

    <div>
      <ion-list>
        <ion-radio-group>

          <ion-item class="alternative" mode='md'>
            <ion-label>criação da estrutura do PHP.</ion-label>
            <ion-radio slot="start" value="cord"></ion-radio>
          </ion-item>
      
          <ion-item class="alternative" mode='md'>
            <ion-label>exibição de texto em tela.</ion-label>
            <ion-radio slot="start" value="duesenberg"></ion-radio>
          </ion-item>
      
          <ion-item class="alternative" mode='md'>
            <ion-label>exibiçao de dados em tela.</ion-label>
            <ion-radio slot="start" value="hudson"></ion-radio>
          </ion-item>
      
          <ion-item class="alternative" mode='md'>
            <ion-label>consulta ao banco de dados</ion-label>
            <ion-radio slot="start" value="packard"></ion-radio>
          </ion-item>
      
        </ion-radio-group>
      </ion-list>
    </div>

    <ion-checkbox disabled checked></ion-checkbox>
  </section>
</ion-content>
