<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">

    <div slot="end" (click)=goToPerfil() class="perfilButton">
      <ion-icon name="grid-outline"></ion-icon>
    </div>

    <div class="userPoints">
      <img src="../../../assets/icons/diamond-outline.svg">
      (points)
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <figure><img src="../../../assets/svgs/online-learning.svg" class="topFigure" alt="Imagem de estudos"></figure>

  <ion-text>
    <h3>Seja bem vindo {{user.username}}, o que vamos estudar hoje?</h3>
  </ion-text>

  <ion-item *ngFor="let language of languages" (click)=goToClasses(language) class="boxContent">
  
    <ion-thumbnail slot="start">
      <img src="{{language.image}}" />
    </ion-thumbnail>
    
    <ion-label>{{language.nome}}</ion-label>

    <ion-text>
      {{language.descricao}}
    </ion-text>
  
  </ion-item>

</ion-content>

<!-- Criação de um Rodapé caso necessário
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Rodapé</ion-title>
  </ion-toolbar>
</ion-footer>
-->


