//imports
@import 'src/theme/_ionItemBoxContent.scss';
@import 'src/theme/_mainFontImport.scss';

ion-header{
  ion-toolbar{
    --max-height: 50px;
    --background: #0bb0da;
    //padding-bottom: 115px;

    .perfilButton {
      padding-right: 15px;
      font-size: 17pt;
      color: rgba(255, 255, 255, 0.911);
    }

    ion-title{
      img{
        width: 45px;
        margin-right: 10px;
      }
      span{
        font-size: 15pt;
        color: #fff;

      }
    }
  }
}

ion-content {
  --background: #0bb0da;

  figure{
    display: flex;
    justify-content: center;
    
    .topFigure{
      height: 40vw;
    }
  }

  ion-text h3 {
    color: #fff;
    font-size: 11pt;
    text-align: center;
    margin: 0px 20px 10px 20px;
  }
}