//importações:
@import 'src/theme/_mainFontImport.scss';
@import 'src/theme/_ionItemInput.scss';

//variaveis:
$text-color: #fff;
$background-color: #4c0b8a;

ion-content{
    height: 100vh;

}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 6%;
    background-color: $background-color;
}

ion-text{
    h1{
        text-align: center;
        font-size: 30pt;
        color: $text-color;
    }
    h4{
        text-align: center;
        font-size: 12pt;
        color: $text-color;
    }
}



div.botoes {
    display:flex;
    flex-direction:column;
    align-items: center;

    ion-button{
        height: 50px;
        width: 130px;
        font-weight: bold;
        margin-top: 15px;
        --border-radius:20px;
        --background: rgb(20, 179, 34);
        --background-hover: rgb(20, 179, 34);
        --transition: 3.2s;

    }
    ion-text{
        font-size: 9pt;
        font-weight: bold;
        color: $text-color;
        margin-top: 5px;
    }
}

div.othersLogin {

    margin-top: 15%;

    ion-item {
        height: 30px;
        border-radius: 8px;
        padding:0;
        color: #000;
        display: flex;
        

        ion-thumbnail, ion-img{
            height: 30px;
            width: 30px;
            margin: 0;
            padding: 5px;
        }
        ion-text{
            margin-left: 10px;
        }
    }
}