<ion-header class="ion-no-border">
  <ion-toolbar>
    <div slot="start" (click)=goToBack() class="backButton">
      <ion-icon name="arrow-back"></ion-icon>
    </div> 

    <ion-title mode="ios">
      <span>PHP</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <figure><img src="../../../assets/svgs/dev-focus.svg" class="topFigure" alt="Imagem de estudos"></figure>
  <ion-item *ngFor="let exercise of exercises">
  
    <ion-thumbnail slot="start">
      <img src="{{exercise.image}}" />
    </ion-thumbnail>
    <ion-label>{{exercise.name}}</ion-label>

    <ion-text >
      <ion-icon name="flash"></ion-icon>
      {{exercise.experience}} XP
    </ion-text>
  
  
  </ion-item>

</ion-content>
