<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">

    <div class="backButton" (click)="goToHome()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    
    <ion-title>Registrar Exercícios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary" mode="ios">

  <!-- Form -->
  <form #f="ngForm" (ngSubmit)="dataUpdate(f)" class="form">

    <ion-item>
      <ion-label position="stacked">Linguagem: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="language">
        <ion-select-option value="1">HTML</ion-select-option>
        <ion-select-option value="2">CSS</ion-select-option>
        <ion-select-option value="3">PHP</ion-select-option>
        <ion-select-option value="4">JavaScript</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Aula: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="class">
        <ion-select-option value="1">Aula 1</ion-select-option>
        <ion-select-option value="2">Aula 2</ion-select-option>
        <ion-select-option value="3">Aula 3</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Título do Exercício: <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" name="exerTitle"></ion-input>
    </ion-item>

    <ion-item class="textarea">
      <ion-label position="stacked">Enunciado do Exercício: <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea name="exerDescription"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Tipo do Exercício: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="typeExercise">
        <ion-select-option value="s">Standard</ion-select-option>
        <ion-select-option value="p">Premium</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="botoes">
      <ion-button block color="tertiary" type="submit">
        <ion-text>Registrar</ion-text>
      </ion-button>
    </div>

  </form>
</ion-content>