<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">

    <div class="backButton" (click)="goToDash()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    
    <ion-title>Exercícios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary" mode="ios">

  <figure>
    <img src="../../../assets/svgs/Setup_re.svg" alt="">
  </figure>

  <!-- Form -->
  <form #f="ngForm" (ngSubmit)="newExercise(f)" class="form">

    <ion-item>
      <ion-label position="stacked">Linguagem: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="language" placeholder="selecione uma linguagem" (ionChange)="fetchClasses($event)" okText="Selecionar" cancelText="Voltar">
        <ion-select-option *ngFor="let lang of languages" [value]= "lang.id_linguagem">
          {{lang.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Aula: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="class" [ngModel]='class' placeholder="selecione uma aula" okText="Selecionar" cancelText="Voltar">
        <ion-select-option *ngFor="let class of classes" [value]= "class.id_conteudo">
          {{class.tt_aula}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Título do Exercício: <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" name="exerTitle" [ngModel]="exerTitle" maxlength="30"></ion-input>
    </ion-item>

    <ion-item class="textarea">
      <ion-label position="stacked">Enunciado do Exercício: <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea name="exerDescription" [ngModel]="exerDescription"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Tipo do Exercício: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="typeExercise" [ngModel]="typeExercise" okText="Definir" cancelText="Voltar">
        <ion-select-option value="s">Standard</ion-select-option>
        <ion-select-option value="p">Premium</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="botoes">
      <ion-button block color="tertiary" type="submit">
        <ion-text>Registrar</ion-text>
      </ion-button>
    </div>

  </form>
</ion-content>