<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">

    <div class="backButton" (click)="goToDash()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    
    <ion-title>Alternativas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary" mode="ios">

  <!-- Form -->
  <form #f="ngForm" (ngSubmit)="newAlternative(f)" class="form">

    <ion-item>
      <ion-label position="stacked">Linguagem: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="language" placeholder="selecione uma linguagem" (ionChange)="fetchClasses($event)" okText="Selecionar" cancelText="Voltar">
        <ion-select-option *ngFor="let lang of languages" [value]= "lang.id_linguagem">
          {{lang.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Aula: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="class" placeholder="selecione uma aula" (ionChange)="fetchExercises($event)" okText="Selecionar" cancelText="Voltar">
        <ion-select-option *ngFor="let class of classes" [value]= "class.id_conteudo">
          {{class.tt_aula}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Exercício: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="exercise" [ngModel]="exercise" placeholder="selecione um exercício" okText="Selecionar" cancelText="Voltar">
        <ion-select-option *ngFor="let exercise of exercises" [value]= "exercise.id_exercicio">
          {{exercise.tt_exercicio}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="textarea">
      <ion-label position="stacked">Texto da Alternativa: <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea [ngModel]="alterText" name="alterText"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tipo da Alternativa: <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="alterType" [ngModel]="alterType">
        <ion-select-option value="1">Certa</ion-select-option>
        <ion-select-option value="2">Errada</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="botoes">
      <ion-button block color="tertiary" type="submit">
        <ion-text>Registrar</ion-text>
      </ion-button>
    </div>

  </form>
</ion-content>
