<ion-content [fullscreen]="true">

  <section>

    <figure class="logo-default">
      <img src="../../../assets/codex-icons/logo.png" alt="logo CODEX">
    </figure>

    <ion-text>
      <h4>Entrar ou Cadastrar:</h4>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">usuário ou e-mail:</ion-label>
      <ion-input [(ngModel)]="identificator"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">senha:</ion-label>
      <ion-input type="password" [(ngModel)]="passwordValue"></ion-input>
    </ion-item>

    <div class="botoes">

      <ion-button (click)="LogIn()">Entrar</ion-button>

      <ion-text (click)="goToRegister()">
        cadastre-se
      </ion-text>

    </div>

  </section>

</ion-content>
