@import 'src/theme/_formLoginAndRegister.scss';
.logo-default {

  display: flex;
  justify-content: center;

  img {
   height: 60vw;
   width: 60vh;
  }
}







pages{
  languages-pages{
    html{
      html-classes;
      html-contents{
        class1;
        class2;
        class3;
      }
    }
    css{
      css-classes;
      css-contents{
        class1{
          sintaxe;
          elementos;
        }
        class2;
        class3;
      }
    }
  }
  home(linguagens);
  login;
  register;
  user-perfil;
}