<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">

    <div class="backButton" (click)="goToHome()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    
    <ion-title>{{langName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" mode="ios">

  <figure><img src='{{imageHeader}}'/></figure>

  <ion-item *ngFor="let class of classes" class="boxContent" (click)="goToClassContent(class)">
    <ion-thumbnail slot="start">
      <img src="../../../assets/svgs/play-button.svg" alt="botão de play" class="button">
    </ion-thumbnail>
    <ion-label>
      {{class.tt_aula}}
    </ion-label>
    <ion-text>
      {{class.ds_aula}}
    </ion-text>
  </ion-item>

  <div class="errorMessage">
    <img src="{{imageError}}">
    <ion-text class="message">
      {{errorMessage}}
    </ion-text>
  </div>

</ion-content>
