<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="ios">

    <div class="backButton" (click)="goToHome()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>

    <ion-title>{{user.nick}}</ion-title>

    <div class="edit" slot="end" (click)="goToUpdate()">
      <ion-icon name="pencil-outline"></ion-icon>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content color="primary" mode="ios">

  <figure>
    <img src="../../../assets/svgs/undraw_male_avatar_323b.svg"/>
  </figure>

  <ion-list color="primary">

    <ion-item color="primary" lines="none">
      <ion-label>Nome:</ion-label>
      <ion-text class="first">{{user.name}}</ion-text>
    </ion-item>

    <ion-item color="primary" lines="none">
      <ion-label>Nick:</ion-label>
      <ion-text class="first">{{user.nick}}</ion-text>
    </ion-item>

    <ion-item color="primary" lines="none">
      <ion-label>E-mail:</ion-label>
      <ion-text class="last">{{user.email}}</ion-text>
    </ion-item>

  </ion-list>

  <div class="logout" (click)="logout()">
    <img src="../../../assets/svgs/End of workday-rafiki.svg">
    sair
  </div>

</ion-content>
