<ion-header class="ion-no-border">
  <ion-toolbar mode='ios' color="primary">

    <div class="backButton" (click)="goToHome()">
      <ion-icon name="home"></ion-icon>
    </div>

    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="primary">

  <figure>
    <img src="../../../assets/svgs/undraw_dashboard_nklg.svg"/>
  </figure>

  <section>

    <div class="actionsGrid">
      <!-- bloco -->
      <ion-card (click)="goToLanguageRegister()">
        <ion-card-header>
          <img src="../../../assets/svgs/server-cluster.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Linguagens</ion-card-title>
        </ion-card-content>
      </ion-card>

      <!-- bloco -->
      <ion-card (click)="goToClassRegister()">
        <ion-card-header>
          <img src="../../../assets/svgs/teaching.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Aulas</ion-card-title>
        </ion-card-content>
      </ion-card>

      <!-- bloco -->
      <ion-card (click)="goToExerciseRegister()">
        <ion-card-header>
          <img src="../../../assets/svgs/Setup_re.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Exercícios</ion-card-title>
        </ion-card-content>
      </ion-card>

      <!-- bloco -->
      <ion-card (click)="goToAlterRegister()">
        <ion-card-header>
          <img src="../../../assets/svgs/undraw_my_answer_iw6k.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Alternativas</ion-card-title>
        </ion-card-content>
      </ion-card>

    </div>
  </section>

</ion-content>
