<ion-header class="ion-no-border">
  <ion-toolbar mode='ios'>

    <div class="backButton" (click)="goToHome()">
      <ion-icon name="home"></ion-icon>
    </div>

    <ion-title>Painel de Controle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <section>
    <div class="actionsGrid">
      <!-- bloco -->
      <ion-card>
        <ion-card-header>
          <img src="../../../assets/svgs/server-cluster.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Linguagens</ion-card-title>
        </ion-card-content>
      </ion-card>

      <!-- bloco -->
      <ion-card>
        <ion-card-header>
          <img src="../../../assets/svgs/teaching.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Aulas</ion-card-title>
        </ion-card-content>
      </ion-card>

      <!-- bloco -->
      <ion-card>
        <ion-card-header>
          <img src="../../../assets/svgs/Setup_re.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Exercícios</ion-card-title>
        </ion-card-content>
      </ion-card>

      <!-- bloco -->
      <ion-card>
        <ion-card-header>
          <img src="../../../assets/svgs/my_answer.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Alternativas</ion-card-title>
        </ion-card-content>
      </ion-card>

      <!-- <ion-card>
        <ion-card-header>
          <img src="../../../assets/svgs/Setup_re.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Exercícios</ion-card-title>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <img src="../../../assets/svgs/my_answer.svg" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Registrar Alternativas</ion-card-title>
        </ion-card-content>
      </ion-card> -->
    </div>
  </section>

</ion-content>
