@import 'src/theme/_ionItemBoxContent.scss';
@import 'src/theme/_mainFontImport.scss';
@import 'src/theme/_languageBox.scss';

ion-header{
  ion-toolbar{
    --max-height: 50px;
    //padding-bottom: 115px;
  }
} 

div{
  margin: 30px 20px;
  font-size: 10pt;
  text-align: justify;
}

ion-item{
  ion-text{
    margin-left: 10px;
  }
}