<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">

    <div class="backButton" (click)="goToClasses()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    
    <ion-title>{{content.title}}</ion-title>

    <div class="userPoints" slot="end">
      <img src="../../../assets/icons/diamond-outline.svg">
      {{userData.userScore}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" mode="ios">

  <figure><img src="../../../assets/svgs/undraw_web_developer.svg" alt="imagem ilustrativa de uma mulher em um notebook"/></figure>

  <div class="describe">
    <ion-text>{{content.description}}</ion-text>
  </div>

  <ion-item *ngFor="let exercise of exercises" class="boxContent" (click) = "goToExercise(exercise)">

    <ion-thumbnail slot="start">
      <img src="../../../assets/imagesDefault/Webinar-amico.svg" alt="linguagem" class="button">
    </ion-thumbnail>

    <ion-label>{{exercise.tt_exercicio}}</ion-label>
    <ion-text>{{exercise.st_exercicio}}</ion-text>
  </ion-item>

  <div class="errorMessage">
    <img src="{{imageError}}">
    <ion-text class="message">
      {{errorMessage}}
    </ion-text>
  </div>

</ion-content>